<h1>Log In Below:</h1>

<form action='/sessions' method="post">
  <p><label>Email:</label>
  <input type="text" name="email">
</p>
  <label>Password:</label>
  <p>
  <input type="password" name="password">
  <input type="submit" value="Log In">
</p>
</form>
